{% extends 'base.html' %}

{% block page_header %}
    <div class="container header_container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div>
        <p>{{ object.firstname }}</p>
        <p>{{ object.lastname }}</p>
        <p>{{ object.customer_type }}</p>
        <p>{{ object.hourly_rate }}</p>
        <p>{{ object.balance_hours }}</p>
        <p>{{ object.balance_payment }}</p>
        <p>{{ object.phone }}</p>
        <p>{{ object.email }}</p>
        <p>{{ object.address1 }}</p>
        <p>{{ object.address2 }}</p>
        <p>{{ object.town }}</p>
        <p>{{ object.county }}</p>
        <p>{{ object.postcode }}</p>
        <p>{{ object.country }}</p>
        <p>{{ object.active }}</p>
    </div>
    <a href="{% url 'customer_edit' object.pk %}" class="btn btn-outline-success">Edit</a>
    <a href="{% url 'customer_delete' object.pk %}" class="btn btn-outline-danger">Delete</a>
    <p class="pt-2">
        Back to <a href="{% url 'customer_list' %}">customer</a>.
    </p>
{% endblock content %}