{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header_container">
        <div class="row">
            <div class="col">
                {% if user.is_authenticated %}
                    <h1 class="text-secondary">Home</h1>
                {% else %}
                    <h1>Welcome to ADI Assistant</h1>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h2 class="mt-4">Hi {{ user.first_name }}</h2>
        <p>You are now logged in.</p>
        <p>Change you password here or go to your profile to manage your subscription.</p>
        <p class="mt-5">
            <a href="{% url 'account_change_password' %}" class="btn btn-warning">Change your password</a>
            <a href="{% url 'account_logout' %}" class="btn btn-secondary">Log Out</a>
        </p>
    {% else %}
        <h3>Your one stop shop to manage your Driving Instructor Business</h3>
        <p>If you're new here why not sign up?</p>
        <p>Creating an account is free and if you'd like to use our advanced features you can choose one of our reasonably priced subscriptions</p>
        <a href="{% url 'account_login' %}" class="btn btn-primary">Log In</a>
        <a href="{% url 'account_signup' %}" class="btn btn-success">Sign Up</a>
    {% endif %}
{% endblock content %}