{% extends 'base.html' %}

{% block title %}Transactions{% endblock title %}

{% block page_header %}
    <div class="container header_container">
        <div class="row">
            <div class="col">
                {% if not has_sub %}
                    <h2>
                        Your do not have an active subscription.
                    </h2>
                    <p>
                        To add transactions, please <a href="{% url 'checkout' %}">subscribe</a>.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td>Transaction ID</td>
                <td>Transaction Date</td>
                <td>Accounting Code</td>
                <td>Customer</td>
                <td>Description</td>
                <td>Rate</td>
                <td>Hours</td>
                <td>Amount</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for trans in user.transaction_set.all %}
                <tr>
                    <td><a href="{% url 'trans_detail' trans.pk %}">{{ trans.transaction_uuid }}</a></td>
                    <td>{{ trans.transaction_date }}</td>
                    <td>{{ trans.accounting_code }}</td>
                    <td>{{ trans.customer }}</td>
                    <td>{{ trans.description }}</td>
                    <td>{{ trans.rate }}</td>
                    <td>{{ trans.hours }}</td>
                    <td>{{ trans.amount }}</td>
                    <td>
                        <a href="{% url 'trans_edit' trans.pk %}" class="btn btn-outline-success">Edit</a>
                        <a href="{% url 'trans_delete' trans.pk %}" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% comment %} Only show add button if user has a current subscription {% endcomment %}
    {% if user.is_authenticated %}
        {% if has_sub %}
            <a href="{% url 'trans_create' %}" class="fab">+</a>
        {% endif %}
    {% endif %}
{% endblock content %}